.alarm {
    width: 100vw;
    height: 540px;
    display: flex;
    flex-direction: column;
  }
  .alarm__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 36px;
  }
  .alarm__text {
    width: 750px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .alarm__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
  }
  .alarm__img {
    width: 406.88px;
    height: 251px;
    border-radius: 20px 4px 4px 4px;
  }
  .alarm__part {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .alarm__buttton {
    width: 406.88px;
    height: 65px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 4px 4px 4px 21px;
    margin-top: 25px;
  }
  .alarm__item {
    margin-right: 6%;
  }