.projects-wraper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__slider1 {
  width: 78%;
  height: 40vh;
  margin: 20px 0px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 20px;
  padding: 0px 30px;
}
.projects__col{
  width: 45%;
}
.projects__title{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.projects__list{
  text-align: justify;
}
.projects__item{
  color: #fff;
  margin: 5px;
  font-size: 18px;
}