@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(header&footer.css);
@import url(slider.css);
@import url(form.css);
@import url(profiles.css);
@import url(spheres.css);
@import url(projects.css);
@import url(footer.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background: linear-gradient(
    177.14deg,
    #ffffff 0%,
    rgba(238, 238, 238, 0.85) 100%
  );
  overflow-x: hidden;
}
@media screen and (max-width: 769px) {
  .sphere__content {
    flex-direction: column;
  }
  .sphere-dark__col:last-child, .sphere-lihgt__col:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
  }
  .sphere-dark__col, .sphere-lihgt__col {
    width: 100%;
  }
  .sphere-dark__img, .sphere-light__img {
    width: 300px;
    border-radius: 15px; 
  }
  .sphere-dark__button, .sphere-light__button {
    border-radius: 15px;
    text-align: center;
    width: 270px;
    padding: 12px 8px 10px 2px;
    font-size: 26px;
  }
  .contact__form  {
    margin-right: 10%;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    padding: 10px 0 25px;
  }
  .header__link {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
